* {
    box-sizing: border-box;
}

body {
    background-color: #ffe2b0;
}

.title {
    margin: 0px;
    color: #fff;
    font-size: 60px;
    text-align: center;
}

.a1 {
    color: black;

    text-decoration: none;

    font-size: 50px;
}

.a2 {
    list-style-type: none;

    text-align: left;

    padding: 0px;
}

.a1:hover {
    color: red;
}

nav {
    /*Отступ от навигации вниз на 20px*/
    margin-bottom: 20px;
}

a {
    /* color - Цвет текста*/
    color: black;

    /*text-decoration -меняет стиль ссылки
    (пример зачеркнутая подчеркнуя и без ничего)*/
    text-decoration: none;

    /*меняет размер теста*/
    font-size: 25px;

}

.t1 {
    display:inline-block;
}

ul {
    /*list-style-type указывает вид маркера для элементов списка*/
    list-style-type: none;
    /*Отступы внутри*/
    padding: 0px;
}

.f1{
    margin-left: 10px;
    margin-right: 150px;
}


