body {
    /*Фон сайта*/
    background-color: #ffe2b0;}

ul {
    /*list-style-type указывает вид маркера для элементов списка*/
    list-style-type: none;

    /*text-align - выравнивание в любом месте сайта*/
    text-align: center;

    /*Отступы внутри*/
    padding: 0px;
}


li {
    display: inline;
    /*отступы между названиями в навигационном окне*/
    margin-right: 10px;
}

img {
    display: inline;
}

a {
    /* color - Цвет текста*/
    color: black;

    /*text-decoration -меняет стиль ссылки
    (пример зачеркнутая подчеркнуя и без ничего)*/
    text-decoration: none;

    /*меняет размер теста*/
    font-size: 18px;

}